
/* Farbtastic placement */
.color-form {
  max-width: 50em;
  position: relative;
}
#placeholder {
  position: absolute;
  top: 0px;
  /*right: 0; LTR */
  left: 22em;
}

/* Palette */
.color-form .form-item {
  height: 2em;
  line-height: 2em;
  padding-left: 1em; /* LTR */
  margin: 0.5em 0;
}
.color-form label {
  float: left; /* LTR */
  clear: left; /* LTR */
  width: 10em;
}
.color-form .form-text, .color-form .form-select {
  float: left; /* LTR */
}
.color-form .form-text {
  text-align: center;
  margin-right: 5px; /* LTR */
  cursor: pointer;
}

.color-form input#edit-scheme {
  text-align: left;
}

#palette {
  clear: both;
}
#palette .hook {
  float: left; /* LTR */
  margin-top: 3px;
  width: 16px;
  height: 16px;
}
#palette .down, #palette .up, #palette .both {
  background: url(images/hook.png) no-repeat 100% 0; /* LTR */
}
#palette .up {
  background-position: 100% -27px; /* LTR */
}
#palette .both {
  background-position: 100% -54px; /* LTR */
}

#palette .lock {
  float: left; /* LTR */
  position: relative;
  top: -1.4em;
  left: -10px; /* LTR */
  width: 20px;
  height: 25px;
  background: url(images/lock.png) no-repeat 50% 2px;
  cursor: pointer;
}
#palette .unlocked {
  background-position: 50% -22px;
}
#palette .form-item, #scheme-select .form-item {
  width: 20em;
}
#palette .item-selected, {
  background: #eee;
}
/* Preview */
#preview {
  display: none;
}
html.js #preview {
  display: block;
  position: relative;
  float: left; /* LTR */
}

#options-scheme-wrapper #save-scheme-wrapper, #options-scheme-wrapper #del-scheme-wrapper, #options-scheme-wrapper #default-scheme-wrapper {
  display:inline;
}

#edit-edit-scheme-wrapper, #edit-default-scheme-wrapper, #edit-new-scheme-wrapper-textfield-wrapper {
  display:inline;
}

input.prevbox, input.suggestedbox {
  width: 60px;
  display: inline;
}

