
#options-scheme-wrapper #save-scheme-wrapper, #options-scheme-wrapper #del-scheme-wrapper, #options-scheme-wrapper #default-scheme-wrapper {
  display:inline;
}

#edit-edit-scheme-wrapper, #edit-default-scheme-wrapper, #edit-new-scheme-wrapper-textfield-wrapper {
  display:inline;
}


#default-scheme-wrapper, #new-scheme-wrapper {
  width: 48%;
  float: left;
}

#edit-scheme-wrapper {
  width: 48%;
  float: right;
  clear: both;
}

#rebuild-scheme-wrapper {
  width: 48%;
  float: right;
}

html.js #color-inc-wrapper .resizable-textarea textarea {
  font-size: 90%;
}