* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: verdana, tahoma, sans, arial;
	font-size: 12px;
	background-color: /* {{top}} */ #34775a /* {{/top}} */;
	color: /* {{text}} */ #2d2d2d /* {{/text}} */;
}

h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}

a, a:link {
	color: /* {{link}} */ #027ac6 /* {{/link}} */;
}

#leftus {
	width: 200px;
	float: left;
	background-color: /* {{base}} */ #0072b9 /* {{/base}} */;
}

/* right sidebar */
#rightus {
	width: 200px;
	float: right;
	background-color: /* {{base}} */ #0072b9 /* {{/base}} */;
}

/* primary_links sidebar > site name */
#leftus #site_name h3 {
	text-align: center;
	height: 35px;
	vertical-align:middle;
	line-height: 35px;
}

/* primary_links sidebar > site name > a */
#leftus #site_name h3 a {
	color: white;
	text-decoration: none;
}

/* navigation links, et al */
#leftus ul.menu a, #rightus ul.menu a {
	color: white;
}

/* block headers */
#leftus .block-user h2, #rightus .block-user h2 {
	text-align: center;
	background-color: /* {{link}} */ #027ac6 /* {{/link}} */;
	color: white;
}

/* content.both */
#content.both {
	margin-left: 205px;
	margin-right: 205px;
}

/* content.right */
#content.right {
	margin-right: 205px;
}

/* content.left */
#content.left {
	margin-left: 205px;
}

/* primary bar - left */
#primary_links #navlist.links {
	text-align: left;
	padding: 10px;
	background-color: /* {{base}} */ #0072b9 /* {{/base}} */;
	margin-left: 205px;
}

#primary_links #navlist.left {
	margin-left: 205px;
}

/* primary bar - right */
#primary_links #navlist.links {
	text-align: left;
	padding: 10px;
	background-color: /* {{base}} */ #0072b9 /* {{/base}} */;
}

#primary_links #navlist.right {
	margin-right: 205px;
}

/* primary bar - both */
#primary_links #navlist.links {
	text-align: left;
	padding: 10px;
	background-color: /* {{base}} */ #0072b9 /* {{/base}} */;
}

#primary_links #navlist.both {
	margin-left: 205px;
	margin-right: 205px;
}

/* primary link */
#primary_links #navlist.links a {
	text-decoration: none;
	padding: 10px;
	background-color: /* {{base}} */ #0072b9 /* {{/base}} */;
	color: white;
}

/* primary links: rollover*/
#primary_links #navlist.links a:hover {
	text-align: center;
	text-decoration: none;
	padding: 10px;
	background-color: /* {{bottom}} */ #34775a /* {{/bottom}} */;
	color: black;
}

/* primary links: active */
#primary_links #navlist.links a.active {
	color: black;
	background-color: #fff;
	font-weight: bold;
}

/* secondary links */
#secondary_links #navlist.links {
	text-align: center;
	min-width: 550px;
	
}

/* footer */ 
#footer {
	text-align: center;
}

/* content */
#content {
	background-color: white;
	padding: 5px;
	margin: 5px;
	min-width: 350px;
}

#content .node ul, #content .node ol, .messages ul {
	margin-left: 15px;
}

#content ol, #content li { margin-left: 10px; }